image(src="hello.png")
text Hello World
text.hello-text.
    Hello Line #1
    Hello Line #2
text.hello-inline Hello World

horizontal
    button#click-me-1 Click Me!
    button#click-me-2 No, Click Me!
